.header {
  color: rgb(245, 245, 245);
  align-items: center;
  padding: .5rem;
  background-color: rgb(1, 94, 138);
}
@keyframes helloWorld {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: .85;
  }
}

#hello {
  text-align: center;
  font-size: 1.5em;
  margin-top: -1em;
  margin-bottom: .5em;
  opacity: .85;
  animation-name: helloWorld;
  animation-duration: 2.7s;
}

.backToHome {
  margin: 1em 1em 0;
}

.socialBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.emailBtn {
  flex: 1 1 200px;
  font-size: 1.2em;
  color: rgb(251, 240, 228);
  background-color: rgb(1, 94, 138);
  padding: 7px 18px;
  border-radius: 3px;
  transition: background-color .25s;
  outline: none;
  margin: 0 1em;
  width: 7em;
  max-width: 10em;
  border: 1px solid #fbf0e4;
}

.emailBtn:hover {
  background-color: #fff;
  cursor: pointer;
  color: rgb(1, 94, 138);
}

.emailBtn div {
  vertical-align: -.12em;
}

.copyright {
  background-color:rgb(1, 94, 138);
  line-height: 24px;
  padding: 1em 2em;
  text-align: center;
  letter-spacing: .05em;
  color:rgb(245, 245, 245) !important;
}

.copyright>* {
  margin: .5em 0;
}

#email_icon {
  display: inline-block;
}

#email_address {
  color:rgb(245, 245, 245) !important;
}

#footer_email {
  cursor: pointer;
}

@media (min-width: 800px) {
  .copyright {
    text-align: left;
    position: relative;
  }

  .socialBtns {
    text-align: center;
  }

  .emailBtn {
    display: inline-block;
    margin: 0 1em;
  }

  #footer_email {
    position: absolute;
    right: 0;
    bottom: 1.5em;
    margin-right: 2em;
  }

  #email_icon {
    float: right;
    margin-left: .2em;
  }

  #email_address {
    display: inline-block !important;
  }
}

@media (max-width: 700px) {
  .socialBtns {
    display: block !important;
  }
  .socialBtns>* {
    display: block;
    margin-bottom: 1em;
  }
}