@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.heading2Xl {
  font-size: 4rem;
  font-family: 'Source Serif Pro';
  font-weight: normal;
  margin: .1em .8em;
  font-style: italic;
  animation-name: slideFromLeft;
  animation-duration: 2s;
  text-align: center;
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(80%);
  }
  to {
    opacity: 1 !important;
    transform: translateX(0);
  }
}

.headingXl {
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  font-family: 'Source Serif Pro';
  margin: .3em 0;
  text-align: center;
  animation-name: slideFromRight;
  animation-duration: 2s;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd, .headingSm {
  padding: 1em 3em;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (min-width: 1030px) {
  .appCont {
    display: flex;
    flex-wrap: wrap;
  }
  .appCont>* {
    flex: 1 1 0px;
  }
  .gif {
    margin-top: 3.5em;
  }
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.infoSection {
  display: flex;
  flex-wrap: wrap;
}

.infoSection>* {
  flex: 1 1 0px;
}

.infoBlock {
  color: #3a3a3a;
  margin-left: 2em;
}

.infoTitle {
  font-size: 2em;
  letter-spacing: .04em;
}

.aboutBlock {
  background-color: rgba(128, 204, 240, 0.5);
}

.profileContainer {
  display: flex;
  justify-content: center;
}

@keyframes slideFromTop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}

.infoBlock p {
  text-align: left;
  font-size: 1.3em;
  line-height: 1.2em;
  animation-name: slideFromTop;
  animation-duration: 3s;
}

.skillRow {
  margin-left: .5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.techBlock {
  background-color: rgb(1, 94, 138);
  color: rgb(251, 240, 228);
  margin-left: 0;
  padding-right: 2em;
  padding-left: 1em;
}

.techRow {
  font-size: 1.2em;
  margin: 1.75em .5em;
}

.projectBlock {
  background-color: rgb(22, 45, 88);
}

.projectBlock>* {
  color: rgb(251, 240, 228) !important;
}

.projectFlex {
  display: flex;
  flex-wrap: wrap;
  margin-right: 2em;
}

.projectFlex>* {
  flex: 50%;
}

.project {
  text-align: center;
  margin-bottom: 2em;
}

.projectLink {
  cursor: pointer;
  display: inline-block;
  margin-bottom: .62em;
}

.projectLink:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .projectFlex {
    display: block;
  }
  .infoSection>* {
    flex: 1 1 50%;
  }
}

.gif {
  display: block;
  text-align: center;
}

.appTitle {
  font-size: 3em;
  margin: .3em 0;
  text-align: center;
}